// src/containers/home-page/video-hero-section/index.module.scss
@import "/src/styles/imports.scss";

.videoHero {
  position: relative;
  width: 100%;
  // height: 90vh;
  min-height: rem_size(600);
  overflow: hidden;
  background-color: #2e3852; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
  .videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    .videoComponent {
      
      &.backgroundVideo {
        width: 100%;
        height: 100%;
      }
    }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #2e3852; /* שימוש בצבע הכחול הכהה של האתר */
      z-index: 2;
    }
  }
  
  .contentContainer {
    position: relative;
    // width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3; /* להבטיח שהתוכן יהיה מעל הכל */
    // margin-top: 150px;
    // padding: 0 rem_size(100);
    
    .content {
    //   max-width: rem_size(800);
      text-align: center;
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.8s ease 0.3s, transform 0.8s ease 0.3s;
      
      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
      
      .title {
        font-size: rem_size(32);
        font-weight: 700;
        color: #ffffff;
        margin-bottom: rem_size(24);
        line-height: 1.2;
        
        .highlight {
          color: #61d2b4;
          display: block;
          margin-top: rem_size(8);
        }
      }
      
      .subtitle {
        font-size: rem_size(18);
        color: #ffffff;
        margin-bottom: rem_size(40);
        line-height: 1.6;
        // max-width: rem_size(600);
        padding-inline: 25px;
        // margin-left: auto;
        // margin-right: auto;
      }
      
      .buttonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem_size(16);
        
        .primaryButton {
          background-color: #61d2b4;
          
          &:hover {
            background-color: darken(#61d2b4, 5%);
          }
        }
        
        .secondaryButton {
          background-color: transparent;
          color: #ffffff;
          border: 2px solid #61d2b4;
        }
      }
    }
  }
  
  // מסכי טאבלט
  @media (min-width: $media-tablet) {
    .contentContainer {
      .content {
        .title {
          font-size: rem_size(42);
        }
        
        .subtitle {
          font-size: rem_size(20);
        }
        
        .buttonContainer {
          flex-direction: row;
          justify-content: center;
        }
      }
    }
  }
  
  // מסכי דסקטופ
  @media (min-width: $media-desktop) {
    height: 100vh;
    
    .contentContainer {
      .content {
        .title {
          font-size: rem_size(52);
        }
        
        .subtitle {
          font-size: rem_size(22);
        }
      }
    }
  }
}