@import "/src/styles/imports.scss";

$primary-color: #61d2b4;
$dark-text: $dark-grey;
$card-bg: #ffffff;
$card-shadow: rgba(0, 0, 0, 0.05);
$card-hover-shadow: rgba(0, 0, 0, 0.1);
$primary-light: rgba(97, 210, 180, 0.1);
$primary-medium: rgba(97, 210, 180, 0.5);

.card {
  background-color: $card-bg;
  border-radius: rem_size(12);
  padding: rem_size(30);
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 rem_size(4) rem_size(20) $card-shadow;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.03);

  .iconContainer {
    width: rem_size(80);
    height: rem_size(80);
    border-radius: 50%;
    background-color: $primary-light;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem_size(20);
    transition: all 0.3s ease;

    .iconPlaceholder {
      width: rem_size(40);
      height: rem_size(40);
      background-color: $primary-medium;
      border-radius: 50%;
    }
  }

  .cardTitle {
    font-size: rem_size(20);
    font-weight: 700;
    margin-bottom: rem_size(12);
    color: $dark-text;
    transition: color 0.3s ease;
  }

  .cardDescription {
    font-size: rem_size(16);
    color: $dark-text;
    line-height: 1.6;
  }
}

@media (min-width: $media-desktop) {
  .card {
    width: rem_size(200);
    border-radius: rem_size(20);
    flex-shrink: 0;

    &:hover {
      transform: translateY(rem_size(-5));
      box-shadow: 0 rem_size(10) rem_size(25) $card-hover-shadow;
      border-color: rgba($primary-color, 0.2);

      .iconContainer {
        background-color: rgba($primary-color, 0.2);
        transform: scale(1.05);
      }

      .cardTitle {
        color: $primary-color;
      }
    }

    .cardTitle {
      font-size: rem_size(20);
    }

    .cardDescription {
      font-size: rem_size(16);
    }
  }
}
