/* CSS Reset - חייב להיות בתחילת הקובץ */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
  
  html, body, body.site-body {
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
  }

  /* הגדרות בסיסיות */
  html {
	height: 100%;
	overflow-x: hidden; /* מניעת גלילה אופקית */
  }
  
  body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden; /* מניעת גלילה אופקית */
	margin: 0 !important; /* דורס הגדרות דפדפן */
  }
  
  /* הגדר ספציפית את הקלאס שיש לך */
  .site-body {
	margin: 0 !important;
	padding: 0 !important;
  }
  
  main, .site-main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
  }
  
  #main-footer {
	margin-top: auto;
  }